body{
    margin: 0;
    padding: 0;
    background: url(..//img/inicio.png)  center;
    height: 100vh ;
    
}
.inicio{
    width: 300px;
    height: 350px;
    background:transparent;
    color:blueviolet;  
    top:50% ;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 60px 30px;

}
.inicio .logo_fintech{
   width: 140px;
   height: 100px; 
   border-radius: 50%;
   position: absolute;
   top: -50px;
   left: calc(50% - 70px);
}


#informacion{
    position: relative;
    top: 120px;
    left: -340px;
    background-color: white;
    width: 235px;
    border-style: none;/*  contorno del boton*/
background:transparent;
color:yellow;/*  color de las letras*/
transition: all 300ms;
font-size: 200% ; /*tamaño de letra*/
}

#ingresar{
    position: relative;
    top: 80px;
    left: -30px;
    background-color: white;
    width: 235px;
    border-style: none;/*  contorno del boton*/
background:transparent;
color:yellow;/*  color de las letras*/
transition: all 300ms;
font-size: 200% ; /*tamaño de letra*/
}

#registrar{
    position: relative;
    top: 40px;
    left: 300px;
    background-color: white;
    width: 235px;
    border-style: none;/*  contorno del boton*/
background:transparent;
color:yellow;/*  color de las letras*/
transition: all 300ms;
font-size: 200% ; /*tamaño de letra*/
}



